<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">메인페이지</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" method="POST" action="{% url 'search' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <div style="width: 3px"></div>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<script>
  // 페이지가 로드될 때 저장된 검색어를 불러와서 입력란에 설정
  window.onload = function() {
      var savedSearch = localStorage.getItem('savedSearch');
      if (savedSearch) {
          document.querySelector('input[name="search"]').value = savedSearch;
      }
  }
  
  // 검색 버튼 클릭 시 검색어를 저장
  document.querySelector('button[type="submit"]').addEventListener('click', function() {
      var searchInput = document.querySelector('input[name="search"]');
      localStorage.setItem('savedSearch', searchInput.value);
  });
  </script>